async-asgi-testclient
bcrypt
coverage
exa-py
fastapi
gunicorn
jsonschema
langchain
langchain-openai
motor
mypy
openai
passlib
pdfplumber
pre-commit
pydantic[email]
pydantic_settings
PyMuPDF
pytest
pytest-asyncio
pytest-env
python-jose
python-json-logger
python-multipart
qdrant-client
redis
ruff
sentry-sdk
SQLAlchemy-Utils
streamlit
tiktoken
uvicorn